body
  height 100vh
  display flex
  flex-direction column

header
  padding 0 1em

.console
  flex 1
  background-color #111
  color lightgreen
  font-family monospace
  overflow-y scroll
  padding 0.5em 1em
